Recruitment/.vs/
Recruitment/Recruitment.Infrastructure/bin/
Recruitment/Recruitment.Infrastructure/obj/
Recruitment/Recruitment.WebAPI/bin/
Recruitment/Recruitment.WebAPI/obj/
Recruitment/Recruitment.Core/bin/
Recruitment/Recruitment.Core/obj/
*.log
*.user
